<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='Love.css') }}">
    <title>Carta de amor</title>
    <link rel="icon" type="image/x-icon" href="../static/IMG/favicon.png">
</head>
<body>
    <h1>Para recordarte lo mucho que te amo</h1>
    <div class="container">
        <div class="envelope-wrapper ">
            <div class="envelope">
                <div class="letter">
                    <div class="text">
                        <strong>Hola cielito lindo</strong>
                        <p><br>No sé muy bien como comenzar está carta pues tengo mucho por decir y sentimientos que quieren explotar, pero ten por seguro que cada palabra que leas, es meramente lo que llevo pensando y lo que mi corazón ha sentido. 
                            <br>Desde que llegaste a mi vida, he sido la persona más feliz del mundo, aunque no lo creas. En ti he encontrado esa seguridad que siempre busqué, en ti halle el amor que no hallaba ni en mi misma, eres una fuente de amor hecha persona que espero jamás se agote, pues te quiero siempre en mis días, amándonos mutuamente y de la manera más hermosa que se pueda, pues tú eres el hombre que siempre soñe y quise tener, y que ahora, dichosamente lo tengo. Se que eres tú el hombre de mis sueños por el hecho de lo que me haces sentir, por el hecho de que quiero pasar cada instante contigo, que cada recuerdo se hace memorable al lado tuyo y que cada cosa es divertida y apreciable si estás tu. Quiero que sepas, que en donde quiera que tú estés, en donde quiera que te encuentres, aún sin estar conmigo, siempre tendre un pedacito de ti en mi,  e igualmente quiero que sepas que en dónde yo me encuentre, un pedacito siempre te pertenecerá.
                            <br>No dudes nunca de mi amor por ti, porque a mis ojos, eres el muchacho más lindo que he visto, con una sonrisa encantadora y unos ojos que expresan demasiado y me ven de una forma tan extremadamente hermosa, y que le pido a la vida, jamás dejen de mirarme asi. Eres un hombre tan encantador, trabajador e Inteligente que la vida tuvo que poner tu mente en tu contra solo para que no te dieras cuenta del gran potencial que tienes, y que espero algún día, logres ver por ti mismo, lo que yo siempre he visto en ti.
                            <br>Sabes que amo ver paisajes, y que adoro los atardeceres, por esta razón te digo cielito, porque para mí eres tan hermoso y cautivador como un atardecer con colores rosáceos, azules y morados, tan únicos como tu y que casi no se suelen ver, como el cielo despejado y de un azul vibrante que hipnotiza, o como esos atardeceres con tonos amarillos que ves sentado a la orilla del mar, que espero pueda algun día ver contigo. Verte es como volver a ver aquel atardecer que vimos en la u, sentados en el lugar en donde siempre nos reuniamos a charlar, y esta, es la otra razón, porque siempre que estoy contigo, el cielo se ve espectacular, y los atardeceres son los mejores que he podido ver, tal vez porque el cielo sabe lo bien que la paso contigo, o eso me gusta pensar.
                            <br>Te digo amor, porque es lo que siento día a día contigo, es lo que haces nacer en mi siempre y es lo que representas, te digo mi vida porque al lado tuyo aprendí su significado y lo valiosa que es, tan valioso como tú, y, te digo amor de mi vida porque es lo que quiero, que tú seas el amor que perdure por el resto de mi vida, con quién quiero despertar y con quién quiero ir a dormir, por lo que espero y deseo con todo mi corazón que seas tu el amor de mi vida, así como anhelo con el alma ser el amor de tu vida. 
                            <br><em>Te amo ❤️</em>
                            
                        </p>
                    </div> 
                </div>
            </div>
        <div class="heart"></div>
        <div class = "tap-right"></div>
        <div class = "tap-left"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>