<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Ask.css') }}">
    <title>Piensalo, analizalo y responde...</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='IMG/favicon.png') }}">
</head>
<body>
    <audio autoplay loop>
        <source src="{{ url_for('static', filename='audio/suspenso.mp3') }}" type="audio/mp3">
    </audio>
    <div class="container">  <!-- Corregido: agregado espacio después de class -->
        <img src="{{ url_for('static', filename='images/madcat.gif') }}" alt="sad cat">
        <h1>¿Segurito segurito? piensa, analiza y responde...😿😿😿</h1>
        <div class="btn">
            <a href="{{ url_for('si') }}">Si</a>
            <a href="{{ url_for('no2') }}">No</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='Ask.js') }}"></script>
</body>
</html>