<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Ask.css">
    <title>Piensalo, analizalo y responde...</title>
</head>
<body>
    <div class=container>
        <img src="../static/images/madcat.gif" alt="Crying cat">
        <h1>¿Segurito segurito? piensa, analiza y responde...😿😿😿</h1>
        <div class="btn">
            <a href="si.html">Si</a>
            <a href="no2.html">No</a>
    
</body>
</html>