<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Ask.css">
    <title>Respuesta Incorrecta</title>
</head>
<body>
    <div class="container">
        <img src="../static/images/girl.gif" alt="Sad cat">
        <h1>No te desharas de mi tan facil </h1>
        <div class="btn">
            <a href="si.html">Si</a>
            <a href="#" id="btn-random">No</a>
        </div>
    </div>
    <script src="../static/Ask.js"></script>
    
</body>
</html>